[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
redis = "*"
pyral = "*"
boto3 = "*"
sendgrid = "*"
snowflake-snowpark-python = {extras = ["pandas"], version = "*"}
pydantic = "*"

[dev-packages]
py-hot-reload = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
